* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #d3d9d4;
}

.cnt {
  margin-top: 10rem;
}

.card-body img {
  width: 90%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
}

.ftr {
  background-color: #124e66;
  color: #d3d9d4;
}

.navbar {
  color: #2e3944;
  background-color: #748d92;
}

footer {
  color: #2e3944;
  background-color: #748d92;
}

#mainbody {
  color: #2e3944;
}

.card {
  background-color: #2e3944;
  color: #d3d9d4;
}
